@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url(../img/bg-masthead.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media (min-width:768px) {
    header.masthead {
        padding-top: 17.6em;

    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

.showcase .showcase-text {
    padding: 3rem
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover
}

@media (min-width:768px) {
    .showcase .showcase-text {
        padding: 7rem
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem
}

.features-icons .features-icons-item {
    max-width: 20rem
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem
}

.testimonials .testimonial-item {
    max-width: 18rem
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0 5px 5px 0 #adb5bd
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.size {
    height: 70px;
}

.options{
    cursor: pointer;
    background-color: rgb(1, 171, 75);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: linear;
}

.titlefont{
    font-family: 'Garamond';
}

ti {
    font-size: 67px;   
    font-weight: bold;
    color: rgb(1, 171, 75);
    text-shadow: 2px 2px 2px rgb(0, 123, 255), 3px 3px 3px black, 7px 3px 2px white;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: linear;
}

ti:hover {
    font-size: 67px;   
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 123, 255), 3px 3px 3px black, 7px 3px 2px rgb(1, 171, 75);
}